// External libraries
@import "bootstrap/scss/bootstrap";

// CSS pages
@import "urls";

// CSS components
@import "components/navbar";
@import "components/media_queries";

// General
body {
  background-color: #d9e2e7;
  color: #3a525b;
}

.display-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.margin-top-50 {
  margin-top: 50px;
}

ul {
  list-style-type: none;
}
